.select{
	display: flex;
	column-gap: 8px;
	align-items: center;
	margin-left: 8px;
	margin-top: 16px;
	transition: all .3s ease;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #7b6ef6;
}

/* .selectParagraph {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #7b6ef6;
} */

.select:hover {
	transform: translateX(5px); 	
	cursor: pointer;
}

.added {
	color: #37D8A7;
}

@media(max-width: 470px) {
	.select {
		margin: 0;
		padding: 0;
	}
	.selectParargaph {
		font-size: 14px;
	}
	.span {
		display: none;
	}
}