.filmListItems {
border-radius: 12px;
width: 282px;
	height: 520px;
	backdrop-filter: blur(80px);
	background: rgba(32, 40, 62, 0.6);
}

.filmListItem {
	padding: 8px 8px 16px;
	overflow: hidden;
}

.filmItemParagraphTitle {
	margin-top: 8px;
	margin-left: 8px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #ebeef5;
}

.filmImage {
	width: 266px;
	height: 400px;
	border-radius: 12px;
	object-fit: cover;
}
